/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* CSS STYLING WITH MOBILE FIRST WORKFLOW */
/* CSS CUSTOM PROPERTIES */
:root {
  /* Layout Colors */
  --white: hsl(0, 0%, 100%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  /* Font Colors */
  --very-dark-desaturate-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* Fonts and Weights */
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;
  --kumbh-sans-wght-regular: 400;
  --kumbh-sans-wght-bold: 700;
  /* FAQ Container */
  --faq-acc-con-max-width: 25rem;
  /* FAQ Illustration */
  --faq-acc-illus-bg:
    url('images/illustration-woman-online-mobile.svg'),
    url('images/bg-pattern-mobile.svg');
  --faq-acc-illus-bg-size: contain, contain;
  --faq-acc-illus-bg-pos: left 50% bottom 55%, left 50% bottom 0;
}

/* CSS RESET */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-kumbh-sans);
  font-weight: var(--kumbh-sans-wght-regular);
  color: var(--dark-grayish-blue);
}

#faq-accordion {
  min-height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-acc-container {
  background-color: var(--white);
  width: 87%;
  max-width: var(--faq-acc-con-max-width);
  border-radius: 20px;
  margin-top: 39.5%;
  margin-bottom: 2.5rem;
  box-shadow: 0px 30px 35px hsla(270, 100%, 10%, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faq-acc-illustration {
  align-self: start;
  width: 70%;
  aspect-ratio: 1/1;
  background-image: var(--faq-acc-illus-bg);
  background-repeat: no-repeat;
  background-size: var(--faq-acc-illus-bg-size);
  background-position: var(--faq-acc-illus-bg-pos);
  /* using percentage in margin to make the illustration stop shifting
    in various screen sizes */
  margin-top: -39.5%;
}

.faq-acc-text-area {
  align-self: start;
  flex-basis: 100%;
  padding: 0 1.3rem 3rem;
  max-width: 40ch;
}

.faq-acc-text-area > h1 {
  text-align: center;
  font-weight: var(--kumbh-sans-wght-bold);
  font-size: 2rem;
  color: var(--very-dark-desaturate-blue);
  margin: 1.5rem 0;
}

.faq-acc-question-answer {
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.faq-acc-question {
  color: var(--very-dark-grayish-blue);
  font-size: 0.835em;
  font-weight: var(--kumbh-sans-wght-bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-acc-question:hover {
  color: var(--soft-red);
}

/* Adding cursor:pointer only to devices that supports it.
   As this style gives an ugly translucent background when clicked from touchscreen devices. */
@media(hover: hover) {
  .faq-acc-question:hover {
    cursor: pointer;
  }
}

.arrow-icon {
  width: 1em;
  aspect-ratio: 1/1;
  background-image: url('images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right;
  transform: rotate(180deg);
  transition: transform 200ms linear;
}

.faq-acc-answer {
  font-size: calc(12em/16); /* 12px in em unit */
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-right: 1em; /* prevents the texts from going under the arrow icon */
  overflow: hidden;
  transition: max-height 300ms ease-out;
}

/* Atrribution */
.attribution {
  font-size: 0.625em;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: var(--soft-red);
}

/* TABLESTS and LESS WIDER SCREENS*/
@media(min-width: 45em) {
 .faq-acc-container {
    width: 95%;
    margin: unset;
    justify-content: space-evenly;
    --faq-acc-con-max-width: 57rem;
  }
  
  .faq-acc-container > * {
    flex-basis: 50%;
  }
  
  .faq-acc-illustration {
    margin: unset;
    align-self: center;
  }
}

/* WIDER SCREENS */
@media (min-width: 75em) {
  .faq-acc-container {
    overflow: hidden;
    position: relative;
    justify-content: end;
  }
  
  .faq-acc-illustration {
    display: block;
    position: absolute;
    max-width: 50%;
    height: 100%;
    aspect-ratio: unset;
    margin-right: 59%;
    --faq-acc-illus-bg:
      url('images/illustration-woman-online-desktop.svg'),
      url('images/bg-pattern-desktop.svg');
    --faq-acc-illus-bg-size: contain, 200%;
    --faq-acc-illus-bg-pos: left 50% top 50%, left 100% top 60%;
  }
  
  .faq-acc-text-area {
    margin: 2rem 5rem 2rem 0;
  }
  
  .faq-acc-text-area > h1 {
    text-align: left;
  }
  
  /* BOX ICON */
  #faq-accordion {
    position: relative;
  }
  
  #faq-accordion::before {
    content: '';
    z-index: 1;
    display: block;
    padding: 5rem;
    position: absolute;
    background-image: url('images/illustration-box-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* Making it go to the center of the screen,
      then re-positioning it correctly on top of the illustration
       so it doesn't move according to different screen widths and heights */
    top: 50%;
    left: 50%;
    transform: translate(-333.6%, -20%);
  }
  
}
